
<!-- adding attributes of audio component -->
<section class="audioplayer">
<div class="main_audio">
    <div class="audio_container1">
       <h3 class="h3cl"> Audio
            <small class="text-muted">Module</small>
        </h3>   
    </div>
<div class="a-container">
    <div class="audio_container2">
        <p class="para1">
            Here you can control the whole audio with just your keyboard, which provides accessiblity for people. Moreover, you can see the transcript of the audio as well, <br>
            IF YOU WILL SCROLL THROUGH..
        </p>
    </div>
    <div class="audio_container">
   <!-- adding audio -->
        <audio controls>
            <source src="/asset/audiomodule/audio2.mp3" type="audio/mp3">
            <a href="/asset/audiomodule/1min_audio.mp3">Play Audio</a>
        </audio>
    </div>
</div>
</div>
    <div class="transcript">
        <div class="transcript_container">
            <div class="transcript_title">
                <h3>Transcript</h3>
            </div>
            <div class="transcript_content">
                <p>
                   <p>We use the internet to pay bills, get the latest news, communicate with friends and family, and shop for products and groceries.</p>
<p>We can run our entire lives from the internet.</p>
<p>In the same way that an organization where a business's physical location should be accessible for people with disabilities, their website should be as well. Despite the fact that one billion people on earth suffer from permanent disabilities of different kinds, and even more experienced temporary difficulties, only two percent of websites on the internet are accessible to them.</p>
<p>That is why it is so important to design an accessible website. Using Web Content Accessibility Guidelines (WCAG) are the documents explaining how to make web content more accessible, primarily for people with disabilities but also for user access methods including limited devices such as mobile phones.</p>
<p>These guidelines were developed by the World Wide Web Consortium, the main international standards organization for the internet within the past 20 years to provide a single shared standard that meets the needs of individuals, organizations, and governments internationally. But why should you care?</p>
<p>First, it opens you up to an even bigger audience. Accessibility is not just for people with auditory, cognitive, neurological, physical, or visual disabilities. Any temporary disability like a broken hand or other injury, or age-related problems can make it difficult or impossible to navigate your website. Even a person on the subway who wants to watch your ad but left their headphones at home or people with a poor internet connection are included. That's an awful lot of people who might have difficulty interacting with your website or buying your products and services.</p>
<p>6.9 billion dollars annually is lost by non-accessible e-commerce retailers to their accessible competitors. Also, complying with web standards enhances performance. Sites that are standards compliant will run faster, work is expected on the largest number of devices and operating systems, and be less likely to crash. What is most important, they'll get better search engine rankings. Finally, it's just the right thing to do. Responsibility and initiative are the keys to healthy relationships in society.</p>
<p>Another important reason for compliance is the legal aspect. The number of lawsuits based on accessibility discrimination is rising each year. For example, in just the U.S., there were 2,285 lawsuits in 2018 compared with 814 in 2017. Nike, Amazon, Dominoes, and even Beyoncé were sued for their websites being inaccessible.</p>
<p>At the moment, there are different pieces of legislation in different countries that are aiming to make the internet more accessible to everyone. For example, in 2005, the government of Ontario, Canada established the Accessibilities for Ontarians with Disabilities Act. According to this, all public sector organizations including government, municipalities, educational institutions, and all private organizations with 50 or more employees, businesses, non-profits, and private educational institutions are required to be accessible by January 1st, 2021.</p>
<p>Similar laws have been adopted in Australia, China, India, Israel, Japan, Sweden, the United Kingdom, the United States, the European Union, and other countries. Today's trends show that compliance with Web Content Accessibility Guidelines will become mandatory in most of the world in the very near future. What about your website? Is it already accessible?</p>
    </div>
        
    </div>
</section>
