<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AV Research</title>
</head>
<body>
    <!-- layout will be here -->
     <div class="main">
                <a href="/audio" id="button_main" class="btn btn-primary btn-lg">Audio Module</a>
                <a href="/video" id="button_main" class="btn btn-primary btn-lg">Video Module</a>
                     
        </section>

        <!-- here the data will be rendered -->
        {{{body}}}

        <script src="/js/main.js"></script>

   
    
</body>
</html>