  <div class="audio_container1">
       <h3 class="h3cl"> Video
            <small class="text-muted">Module</small>
        </h3>   
    </div>

<!-- adding attributes of video component -->
<section class="videoplayer">
    <div class="videoplay">
        <video controls poster="asset/videomodule/poster2.jpg" width="600px">
            <source src="/asset/videomodule/1min_video.mp4" width="600px" type="video/mp4">
            <track default kind="captions" src="/asset/videomodule/subtitle/video1_subtitle.vtt" srclang="en" label="English">
            <!-- if a browser does not support the video then user can click on the link to play the video -->
            <p>
                Your Browser Doesn't support the video
            </p>
            <a href="/asset/videomodule/1min_video.mp4">Play Video</a>
        </video>
    </div>
    <div class="videoplay2">
        <button class="btn_play btn-primary btn-lg" data-button="0" aria-label="Play/Pause" id="play">Play</button>
        <button class="btn_pause btn-primary btn-lg" data-button="0" aria-label="Play/Pause" id="pause">Pause</button>
        <button class="btn_mute btn-primary btn-lg" data-button="0" aria-label="Mute" id="mute">Mute</button>
        <button class="btn_unmute btn-primary btn-lg" data-button="0" aria-label="Unmute" id="unmute">Unmute</button>
        <button class="btn_fullscreen btn-primary btn-lg" data-button="0" aria-label="Fullscreen" id="fullscreen">Fullscreen</button>
        <button class="btn_exitfs btn-primary btn-lg" data-button="0" aria-label="exit Full Screen" id="exitfullscreen">Exit Fullscreen</button>
        <button class="btn_caption btn-primary btn-lg" data-button="0" aria-label="Close Caption" id="caption">Caption</button>
    </div>

</section>